[submodule "assets/content"]
	path = assets/content
	url = git@github.com:PeaceGeeksSociety/content.git
[submodule "locale/ui-strings"]
	path = locale/ui-strings
	url = git@github.com:pg-irc/ui-strings.git
